{% extends 'base.html' %}

<!--block默认是覆盖，写上super() 代表追加。不用block就显示父块（基模板）-->
{% block head %}
{{ super() }}
{% endblock %}
<!--以上头信息也可可以不写，效果一样-->


{% block content %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>

<button id="add">Add Movie</button>
<button id="delete">Delete Movie</button>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#add').click(function() {
            $.ajax({
                url: '/addMovie',
                type: 'get',
                success: function(data){
                    window.location.reload();
                }
            })
        })

        $('#delete').click(function() {
            $.ajax({
                url: '/deleteMovie',
                type: 'get',
                success: function(data){
                    window.location.reload();
                }
            })
        })
    })
    </script>
{% endblock %}
