{% extends 'base.html' %}

{% block content %}


<div class="margin10px">
<h3>首页</h3>
    <img id="jump_img" src="{{ url_for('static', filename='images/addFlower.gif') }}" style="display: none; position: absolute; z-index:2; ">

<ul class="movie-list">
    {% for api in api_list %}
    <li>{{ api.name }}
        {{ api.path }}
        {{ api.response }}


        <span class="float-right">
            <a href="/start">aaa</a>

        </span>

    </li>
    {% endfor %}
</ul>


<p>{{ api_list | length }} 条</p>


</div>


    <script type="text/javascript">
        function show_flower(){
            var audio= new Audio("../static/music/addFlower.mp3");
            audio.play();

            var img = document.getElementById("jump_img");
            img.style.display = "inline";
            setTimeout(function() {img.style.display = "none";},3000);

        }

    </script>


{% endblock %}


